__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.git
.gitignore
.dockerignore
docker-compose*.yml
Dockerfile
.env
.env.prod
.vscode
.idea
*.sqlite3
*.sqlite
.DS_Store
web/node_modules/
npm-debug.log
/postgres_data_prod/
