@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    @apply font-sans;
  }
}


@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

table {
  border-collapse: collapse;
}